<div class="container">
    <div class="jumbotron">
        <h2>DASHBOARD</h2>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Hello:
                        <span data-id="" class="member-name text-muted"></span>
                    </h5>

                    <p class="font-weight-bold">Last Login Date: <span data-id="" id="lastLogin"
                            class="text-muted"></span></p>
                    <a href="/logout" class="card-link" style="text-decoration: underline;">Logout</a>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Today's Date:
                                </n>
                                <span id="currentDay" class="text-muted"></span>
                            </h5>
                            <p class="font-weight-bold">Patients to See
                                Today: <span class="text-muted" id="patientCount">{{patients.length}}</span>
                            </p>

                            {{!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <p>Notifications:</p> &nbsp;
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off" checked> ON
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> OFF
                                </label>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Patient List:</h5>
                    <input type="text" id="patientName" class="form-control" placeholder="Patient Name">
                    </br>
                    <a href="#" class="card-link" id="addPatient" style="text-decoration: underline;">Add Patient</a>
                </div>
                <ul class="list-group list-group-flush patientList">
                    {{!-- for each item in patient. Added an s--}}
                    {{#each patients}}
                    {{!-- display their information. Added folder for HB --}}
                    {{!-- {{name}} --}}
                    {{> patients/patientBlock}}
                    {{/each}}
                </ul>
                <div class="card-body">
                    <a href="#top" class="card-link" style="text-decoration: underline;">Back to Top</a>
                </div>
            </div>

        </div>
    </div>
</div>