<div class="container">
    <div class="jumbotron">
        <h2 id="welcome">Welcome to Pill Box!</h2>
        <hr id="hr">
        <h2 style="strong">LOGIN</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="login-form">
                        <div>
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="emailField">
                            </br>

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="passwordField">
                        </div>
                        <button id="loginSubmit" type="submit">LOGIN</button>
                        </br>
                        </br>

                        <p>New to Pill Box? <span id="signUp"> <a href="/createuser">Sign Up Here!</a></span></p>
                    </form>

                </div>
            </div>

        </div>

    </div>

</div>