body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

button {
    background-color: #ffffff;
    color: rgba(146, 23, 23, 0.952)
}

.navbar, .jumbotron {
    background-color: #162870;
}

.jumbotron h2 {
    color: white;
}

.jumbotron form, .jumbotron p {
    color: white;
}

#titleText {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

#signUp {
    text-decoration: underline;
}

#patientName {
    width: 120px;
}

.patientList, .medsList {
    padding-left: 25px;
    text-decoration: underline;
}

.titleContainer {
    text-align: center;
}

.mainTitle {
    text-align: center;
}

.jumbotron {
    
    margin: 30px;
    border: 4px solid rgb(146, 23, 23); 
}

#hr { 
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 0;
    border-top: 3px solid rgb(146, 23, 23);
}


.jumbotron h2 {
    text-align: center;
}

/* #welcome {
     
} */

label, p {
    font-family: 'Raleway', sans-serif;
}

.card {
    border: 1px solid black;
}

.login-form {
    padding-left: 30px;
}

th, td {
    border-bottom: 1px solid #ddd;

}
/* h2, h3 {
    font-family: 'Open Sans', sans-serif;
} */
